<!-- templates/wallet.html -->
<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h2>Din Wallet</h2>
    <form method="get">
        <input type="text" name="public_key" placeholder="Ange din public key" required>
        <button type="submit">Visa saldo</button>
    </form>
    <br>
    <a href="{{ url_for('send') }}">
        <button>Skicka Tokens</button>
    </a>

    {% if balance is not none %}
        {% if balance == "Plånbok inte hittad." %}
            <p class="info">{{ balance }}</p>
        {% else %}
            <p class="info">Saldo: {{ balance }} tokens</p>
            <p class="info">Public Key: {{ public_key }}</p>
        {% endif %}
    {% elif public_key %}
        <p class="info">Ingen plånbok hittades för denna public key.</p>
    {% endif %}
</div>
</body>
</html>